<%= form_for(@reservation) do |f| %>
  <% if @reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
      <% @reservation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre_de_chambres %><br />
    <select id="nb_chambre" class="form-control">
      <option value="None">Choississez le nombre de chambre</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
  </div>

  <p class="btn btn-success" id="show_details">Rechercher</p>

  <p style="color: red; display: none;" id="alert_form">Veuillez selectionner tous les criteres!</p>

  <span id="reservation_show" style="display: none;">
  <hr style="border: 2px solid #777;" />

    <div>
      <p class="num_ch"></p>
      <p class="render_chambre"><%= render 'chambre' %><p>
    </div> 

    <div class="field">
      <%= f.label :user_name %><br />
      <%= f.text_field :user_name, class: "form-control" %>
    </div>
    <div class="field">
      <%= f.label :user_email %><br />
      <%= f.text_field :user_email, {:class => "form-control", :value => current_user.email} %>
    </div>
    <div class="field">
      <%= f.label :user_age %><br />
      <%= f.number_field :user_age, class: "form-control" %>
    </div>

    <div class="field">
      <%= f.label :date_arrive %><br />
      <%= f.datetime_select :date_arrive, class: "form-control" %>
    </div>
    <div class="field">
      <%= f.label :date_depart %><br />
      <%= f.datetime_select :date_depart, class: "form-control" %>
    </div>
    <div class="field">
      <%= f.label :demande_particuliere %><br />
      <%= f.text_area :demande_particuliere, class: "form-control", rows: "5" %>
    </div>
    <div class="field">
      <%= f.label :price %><br />
      <%= f.number_field :price, class: "form-control", id: "price_reservation", name: "reservation[price]", value: "reservation[price]" %> <p id="dollar_sign"> $</p>
    </div>
    <br />
    <div class="actions">
      <%= f.submit "Valider", class: "btn btn-primary confirmation" %>
    </div>
  </span>
  <% end %>