<%# <h1>Listes des reservations</h1> %>
<% if current_user.admin == false %>
  <% @reservations.each do |reservation| %>
    <% if current_user.email == reservation.user_email %>
      <table class="table table-striped">
        <tr class="thead-dark">
          <th>Reservation ID</th>
          <th>Chambres reserves</th>
          <th>Email</th>
          <th>Age</th>
          <th>Type de chambre</th>
          <th>Type de vue</th>
          <th>Date arrive</th>
          <th>Date depart</th>
          <th>Demande particuliere</th>
          <th>Price</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <tr>
          <td><%= reservation.id %></td>
          <td style="width: 100px;">
              <% reservation.reservation_chambres.each do |r| %>
                <%= r.chambre.numero %>
              <% end %>
          </td>
          <td><%= reservation.user_email %></td>
          <td><%= reservation.user_age %></td>
          <td style="width: 100px;">
              <% reservation.reservation_chambres.each do |r| %>
                <%= r.chambre.type_chambre %>
              <% end %>
          </td>
          <td style="width: 50px;">
              <% reservation.reservation_chambres.each do |r| %>
                <%= r.chambre.vue %>
              <% end %>
          </td>
          <td><%= reservation.date_arrive %></td>
          <td><%= reservation.date_depart %></td>
          <td><%= reservation.demande_particuliere %></td>
          <td><%= reservation.price %></td>
        </tr>   
      </table>
    <% end %>  
  <% end %>  
<% else %>
  <table class="table table-striped">
    <tr class="thead-dark">
      <th>Reservation ID</th>
      <th>Chambres reserves</th>
      <th>Email</th>
      <th>Age</th>
      <th>Type de chambre</th>
      <th>Type de vue</th>
      <th>Date arrive</th>
      <th>Date depart</th>
      <th>Demande particuliere</th>
      <th>Price</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

    <% @reservations.each do |reservation| %>
      <tr>
        <td><%= reservation.id %></td>
        <td><%= reservation.user_id %></td>
        <td style="width: 100px;">
            <% reservation.reservation_chambres.each do |r| %>
              <%= r.chambre.numero %>
            <% end %>
        </td>
        <td><%= reservation.user_email %></td>
        <td><%= reservation.user_age %></td>
         <td style="width: 100px;">
            <% reservation.reservation_chambres.each do |r| %>
              <%= r.chambre.type_chambre %>
            <% end %>
        </td>
         <td style="width: 50px;">
            <% reservation.reservation_chambres.each do |r| %>
              <%= r.chambre.vue %>
            <% end %>
        </td>
        <td><%= reservation.date_arrive %></td>
        <td><%= reservation.date_depart %></td>
        <td><%= reservation.demande_particuliere %></td>
        <td><%= reservation.price %></td>
        <%# <td><%= link_to 'Show', reservation %>
        <td><%= link_to 'Edit', edit_reservation_path(reservation), style: "color: green !important;" %></td>
        <td><%= link_to 'Destroy', reservation, style: "color: red !important;", method: :delete, data: { confirm: 'Are you sure?' } %></td> 
      </tr>
    <% end %>
  </table>
<% end %>

<hr />
<%= link_to 'Nouvelle Reservation', new_reservation_path, class: "btn btn-primary white" %>
