<%# <h1>Listes des reservations</h1> %>
<%# <%binding.pry%> 
<% if current_user.admin == false %>
  <% @reservations.each do |reservation| %>
    <% if current_user.email == reservation.user_email %>
      <table class="table table-striped">
        <tr class="thead-dark">
          <th>Reservation ID</th>
          <th>Chambres reserves</th>
          <th>Email</th>
          <th>Age</th>
          <th>Type de chambre</th>
          <th>Type de vue</th>
          <th>Date arrive</th>
          <th>Date depart</th>
          <th>Nombre de jours</th>
          <th>Demande particuliere</th>
          <th>Prix par chambre</th>
          <th>Prix de la reservation</th>
        </tr>
        <tr>
          <td><%= reservation.id %></td>
          <td>
              <% reservation.reservation_chambres.each do |r| %>
                <%= r.chambre.numero %>
              <% end %>
          </td>
          <td><%= reservation.user_email %></td>
          <td><%= reservation.user_age %></td>
          <td>
              <% reservation.reservation_chambres.each do |r| %>
                <%= r.chambre.type_chambre %>
              <% end %>
          </td>
          <td>
              <% reservation.reservation_chambres.each do |r| %>
                <%= r.chambre.vue %>
              <% end %>
          </td>
          <td><%= reservation.date_arrive.strftime("%m-%d-%y") %></td>
          <td><%= reservation.date_depart.strftime("%m-%d-%y") %></td>
          <td><%= reservation.demande_particuliere %></td>
          <td style="text-align: right">
              <% reservation.reservation_chambres.each do |r| %>
                <% if r.chambre.vue == "Jungle" %>
                  <%=r.chambre.vue_jungle_price + r.chambre.price %> $
                <% elsif r.chambre.vue == "Mer" %>
                  <%=r.chambre.vue_mer_price + r.chambre.price %> $
                <% end %>
              <% end %>
          </td>
        </tr>
      </table>
    <% end %>  
  <% end %>  
<% else %>
  <table class="table table-striped">
    <tr class="thead-dark">
      <th>Reservation ID</th>
      <th>Chambres reserves</th>
      <th>Email</th>
      <th>Age</th>
      <th>Type de chambre</th>
      <th>Type de vue</th>
      <th>Date arrive</th>
      <th>Date depart</th>
      <th>Nombre de jours</th>
      <th>Demande particuliere</th>
      <th>Prix par chambre</th>
      <th>Prix de la reservation</th>
      <th></th>
      <th></th>
    </tr>

    <% @reservations.each do |reservation| %>
      <tr>
        <td><%= reservation.id %></td>
        <td>
            <% reservation.reservation_chambres.each do |r| %>
              <%= r.chambre.numero %>
            <% end %>
        </td>
        <td><%= reservation.user_email %></td>
        <td><%= reservation.user_age %></td>
         <td>
            <% reservation.reservation_chambres.each do |r| %>
              <%= r.chambre.type_chambre %>
            <% end %>
        </td>
         <td>
            <% reservation.reservation_chambres.each do |r| %>
              <%= r.chambre.vue %>
            <% end %>
        </td>
        <td><%= reservation.date_arrive.strftime("%m-%d-%y") %></td>
        <td><%= reservation.date_depart.strftime("%m-%d-%y") %></td>
        <td><%= @nb_jour %></td>
        <td><%= reservation.demande_particuliere %></td>
        <td style="text-align: right">
            <% reservation.reservation_chambres.each do |r| %>
              <% if r.chambre.vue == "Jungle" %>
                <%=r.chambre.vue_jungle_price + r.chambre.price %> $
              <% elsif r.chambre.vue == "Mer" %>
                <%=r.chambre.vue_mer_price + r.chambre.price %> $
              <% end %>
            <% end %>
        </td>
        <td style="text-align: right"><%= reservation.price %> $</td>
        <td><%= link_to 'Modifier', edit_reservation_path(reservation), style: "color: green !important;" %></td>
        <td><%= link_to 'Supprimer', reservation, style: "color: red !important;", method: :delete, data: { confirm: 'Are you sure?' } %></td> 
      </tr>
    <% end %>
  </table>
<% end %>

<hr />
<%= link_to 'Nouvelle Reservation', new_reservation_path, class: "btn btn-primary white" %>
<br />
<br />
<br />
