<%= form_for(@chambre_reserf) do |f| %>
  <% if @chambre_reserf.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@chambre_reserf.errors.count, "error") %> prohibited this chambre_reserf from being saved:</h2>

      <ul>
      <% @chambre_reserf.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :chambre_id %><br />
    <%= f.number_field :chambre_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
