<!DOCTYPE html>
<html>
<head>
  <title>HotelProjet</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag "https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand white" href="/home">Phanuel Hotel Inn</a>
      <ul class="navbar-nav ml-auto">
        <% if signed_in? %>
          <li class="nav-item active">
            <a class="nav-link white" href="/home">Acceuil</a>
          </li>
          <li class="nav-item">
            <%# <a class="nav-link white" href="">Profil</a> %>
            <%= link_to "Profil", current_user, class: "nav-link white" %>
          </li>
          <li class="nav-item">
            <a class="nav-link white" href='/users/sign_out' data-method='delete'>Deconnexion</a>
          </li>
        <% else %>
          <li class="nav-item active">
            <a class="nav-link white" href="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link white" href='/users/sign_up'>Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link white" href='/users/sign_in'>Login</a>
          </li>
        <% end %>         
      </ul>
    </div>
  </nav>


<div class="container">
  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>
  <%= yield %>

  <!--data-toggle="modal" data-target="#login_modal" <div class="modal fade" id="login_modal" tabindex="-1" role="dialog" aria-labelledby="login_modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="login_modalLabel">Choose your profile</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-6 text-center">
              <a class="nav-link" href="admins/sign_in">Employes</a>
            </div>
             <div class="col-6 text-center">
              <a class="nav-link" href="users/sign_in">Clients</a>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div> -->

</div>

</body>
</html>
